body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

hr {
  border: none; 
  color: #00a7c6; 
  background-color: #00a7c6; 
  height: 0.18vw; 
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

h2 {
  font-size: 1.2vw;
  padding-right: 10vw;
  font-weight: 200;
}
h3 {
  position: absolute;
  font-size: 1.2vw;
  right: 50vw;
  color: #ab6f5c;
}
h4 {
  position: absolute;
  font-size: 1.2vw;
  right: 40vw;
  margin-block-start: 1vw;

}

.field {
  width: 20vw;
  height: 2.5vw;
  font-size: 1.2vw;
  color: black;
  border: none;
  border-bottom: 0.15vw solid #e8e8e8;
  outline: none;
}

 input[type="text"]::-moz-placeholder {
  color: #c1c1c1;
  border-bottom: 0.15vw solid #00a7c6;
 }


.list {
  height: 2.5vw;
  font-size: 1.2vw;
  font-weight: 600;
  border: none;
  margin: 0 2vw 0 0.5vw;
  outline: none;
  color: #ab6f5c;
}

.remove {
  position: absolute;
  width: 5vw;
  height: 2.5vw;
  right: 20vw;
  margin-top: 0.5vw;
  background: none;
  border: none;

}
.remove:hover {
  background: #ebebeb;

}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}
.block {
  width: 80vw;
  position: absolute;
  left: 10%;
  top: 1vw;
}

.block_list{
  border-bottom: 0.15vw solid #e8e8e8;
}

.margin_block{
  margin: 0 2vw;
  display: -webkit-box;
  height: 3.5vw;
}

.testing {
  color: #ab6f5c;
}

.circle_menu {
  width: 1.2vw;
  height: 1.2vw;
  background: #ab6f5c;
  border-radius: 50%;
  display: inline-block;
  margin-left: 2vw;
  position: relative;
  top: 0.2vw
}
.circle {
  width: 1.2vw;
  height: 1.2vw;
  background: #ab6f5c;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1vw;
  position: relative;
  top: 0.2vw
}


